*{margin: 0; padding: 0; box-sizing: border-box;}
img{max-width: 100%; display: block;}

header{

border-bottom: 2px solid #0000002f;
}

header .container .content{
    width: 150px;
    margin: 0 auto;
}
header .container .content img{}



.container{
	width:1200px;
	margin: 0 auto;
	padding: 20px;
	display: block;
}
.about .container .content h1{
    font-size: 50px;
    width: 718px;
    margin: 63px auto;
    text-align: center;
    font-weight: initial;
}
.about .container .content img{
    width: 1200px;
    margin: 0 auto;
    height: 600px;
    object-fit: cover;
    object-position: center;
}
.a{
    color: #6A9FF6;
}
.b{
    color: #EC5D51;
}
.c{
    color: #33A752;
}
.d{
    color: #F8AC2B;
}

.base{
    margin: 47px 0;
}
.base .container{
    width: 1200px;
    margin: 0px auto;
}

h1{
    font-size: 40px;
    width: 233px;
    margin-bottom: 29px;
}
p{
    color: #000000db;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.7;
}



h2{
	padding: 43px 0;
	font-size: 55px;
	max-width: 300px;
}    

h3{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin: 0 auto;
    /* width: 492px; */
    max-width: 600px;
    padding: 50px 0;
}
.x{

background: #55b66f;
}